<% include partials/header %>

<h1>Landing</h1>

<p>Welcome to YelpCamp</p>

<a href="/campgrounds">View all campgrounds</a>
<a href="/campgrounds/new">Post a campground</a>

<% include partials/footer %>